.clients-section {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #fff;
}

.upper-section {
    display: flex;
    gap: 16px;
}

body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

@media (max-width: 768px) {
    body {
        margin: 20px;
    }
    
    .upper-section {
        flex-direction: column;
    }

    .clients-section {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

.intro-section {
    width: 600px;
}
.intro-section h1 {
    color: #540058;
    font-size:4em;
    font-weight: bold;
    margin-bottom: 16px;
}




.clients-section img {
    border-radius: 50%;
}

.clients-section h3 {
    color: #540058;
    font-size: 1.5em;
    margin: 8px 0;
}

.clients-section h4 {
    color: #888;
    font-size: 1em;
    margin: 4px 0 12px 0;
}


.card {
    background-color: #540058;
}

.card h3 {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 8px;
}

.card h4 {
    color: #bc6dbe;
    font-size: 1.2em;
    margin-bottom: 12px;
}

.card p {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 16px;
}