.clients-section {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #fff;
}

.upper-section {
    display: flex;
    gap: 16px;
}

body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

@media (max-width: 768px) {
    body {
        margin: 20px;
    }
    
    .upper-section {
        flex-direction: column;
    }

    .clients-section {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

.intro-section {
    width: 600px;
}
.intro-section h1 {
    color: #540058;
    font-size:4em;
    font-weight: bold;
    margin-bottom: 16px;
}


.clients-section h3 {
    color: #540058;
    font-size: 1.5em;
    margin: 8px 0;
}