body {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    background-image:
    url('./images/bg-pattern-top-desktop.svg'),
    url('./images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: auto, auto; 
    font-family:  'Lexend', sans-serif;
}


.clients-section {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #fff;
}

.upper-section {
    display: flex;
    gap: 16px;
}




.intro-section {
    width: 600px;
}
.intro-section h1 {
    color: #540058;
    font-size:4em;
    font-weight: bold;
    margin-bottom: 16px;
}

.intro-section p {
    color: #534456;
    font-size: 1.1em;
    line-height: 1.5;
}

.clients-section img {
    border-radius: 50%;
}

.clients-section h3 {
    color: #540058;
    font-size: 1.5em;
    margin: 8px 0;
}

.clients-section h4 {
    color: #888;
    font-size: 1em;
    margin: 4px 0 12px 0;
}


.card {
    background-color: #540058;
    height: 250px;
    padding: 30px;
    border-radius: 15px;
}

.card h3 {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 8px;
}

.card h4 {
    color: #bc6dbe;
    font-size: 1.2em;
    margin-bottom: 12px;
}

.card p {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.rating-section {
    margin-top: 50px;
}

.stars-card {
    background-color: #f1e6f9;
    width: 600px;
    height: 60px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.stars-card h2 {
    color: #540058;
    font-size: 1.2em;
    font-weight: bold;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.stars img {
    width: 25px;
    height: 25px;
}

#report-guru {
    margin-left: 100px;
    
}

#best-tech {
    margin-left: 200px;
    
}

#footer {
    background-image: url("./images/bg-pattern-bottom-desktop.svg");
}

#header {
    background-image: url("./images/bg-pattern-top-desktop.svg");
}

#colton-card {
    margin-top: 10px;
}

#irene-card {
    margin-top: 30px;
}   

#anne-card {
    margin-top: 50px;
}